* {
    margin:0;
    padding:0;
}
#logo {
    padding:1rem 0 0 1.5rem;
}
body {
    background-color:rgb(92, 117, 94);
    font-size: 25px;
    color:rgba(169, 125, 93, 1);

}

header {
    display:grid;
    grid-template-columns: 300px 1fr;
}


nav a {
    display: block;
    padding: 1rem;
    
}
ul {
    list-style: none;
    display: flex;

}
.openinglinks {
    margin:auto;
    border-style: solid;
    text-align: center;
    color:rgba(85, 172, 172, 1);
    display:block;
    padding: .75rem;

}
figure > img,image > img {
    box-shadow:0 0 1rem rgb(65, 64, 64);
}

.page {
    background-color: rgb(235, 230, 195);
    font-family: 'Bitter', serif, sans-serif;
    max-width: 960px;
    margin:1rem auto;
}

.main {
    position:relative
}
.heropicture > picture > img {
    width:98%;
    margin: 10px;

}
section {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Bitter', serif, sans-serif;
    padding: 0px 8px 8px 8px;
    border: solid 5px;
    background:radial-gradient(rgb(138, 167, 140), rgb(235, 230, 195));
    color:rgba(85, 172, 172, 1);
    position:absolute;
    top:350px;
    right:280px;
    box-shadow: 0 0 15px rgba(85, 172, 172, 1);

}

button {
    font-size: 28px;
    font-family: 'Bitter', serif, sans-serif;
    border-radius: 10px;
    border-color:rgba(85, 172, 172, 1);
    padding: 4px;
    margin-bottom: 4px;

    
}
h1 {
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 40px;
    text-align: center;
    color:rgb(169, 125, 93);
}
p {
    margin: .25rem;
    padding: 8px;
    font-size:30px;
    
    
}
 p, a {
    color:rgb(169, 125, 93);
    text-align:
 }
 .grid {
     width:100%;
     margin:auto;
     padding:2rem
     
 }

 .pricing, .otheractivities {
     width: 52%;
     margin:auto;
     text-align: center;
     
 }
 .socials > a{
    padding-left: .5rem;
 }

 figure {
     padding:1rem;
 }